<template>
  <p>Redirecting…</p>
</template>

<script>
export default {
  computed: {
    accessToken() {
      const match = this.$route.params.token.match(/(.*)&/);

      return match.length >= 1 ? match[1] : "";
    },
  },
  mounted() {
    if (this.accessToken) {
      window.localStorage.setItem("GL_AT", this.accessToken);
    }
    return this.$router.push("/");
  },
};
</script>
