<template>
  <div>
    <my-button v-if="isLoggedIn" @click.native="logout">Logout</my-button>
    <my-button v-else @click.native="login">Login</my-button>
  </div>
</template>

<script>
import MyButton from "@/components/my_button.vue";

const ACCESS_TOKEN = "GL_AT";

export default {
  components: {
    MyButton,
  },
  computed: {
    isLoggedIn() {
      return Object.prototype.hasOwnProperty.call(
        window.localStorage,
        ACCESS_TOKEN
      );
    },
  },
  methods: {
    login() {
      const APP_ID = process.env.VUE_APP_ID;
      const REDIRECT_URI = process.env.VUE_APP_URI;

      const url = `https://gitlab.com/oauth/authorize?client_id=${APP_ID}&redirect_uri=${REDIRECT_URI}&response_type=token`;

      window.location.href = url;
    },
    logout() {
      window.localStorage.removeItem(ACCESS_TOKEN);
      window.location.reload();
    },
  },
};
</script>
